{% extends 'base.html.twig' %}

{% block title %}Wonder
{% endblock %}

{% block body %}

  <ul>
    {% for question in questions %}
      <div class="block block-shadow d-flex flex-row mb-20">
        {% include "partials/_rating.html.twig" with { rating: question.rating, from: 'question', id: question.id } %}
        <div class="flex-fill d-flex flex-column">
          <a href="{{ path('question_show', { id: question.id  }) }}" class="mb-20 question-content pb-20">
            <h3 class="mb-20">{{ question.title }}</h3>
            <p class="question-text">{{ question.content }}</p>
          </a>
          <div class="d-flex flex-row justify-content-between">
            <a href="{{ path('user', { id: question.author.id }) }}" class="d-flex flex-row align-items-center">
              <img class="avatar mr-10" src="{{ asset(question.author.picture) }}"/>
              <small>Demandé par <span class="clickable">{{ question.author.fullname }}</span></small>
            </a>
            <div class="d-flex flex-row align-items-center">
              <i class="far fa-comment mr-10"></i>
              <p>{{ question.nbrOfResponse }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </ul>
{% endblock %}